# Copia este archivo a ".env" y rellena los valores reales.
# La contraseña va aquí, NUNCA en el código.
MONGODB_URI=mongodb+srv://SamuelMunera:TU_CONTRASENA@crunchy-munch.mv55ilc.mongodb.net/?retryWrites=true&w=majority
PORT=3000
